:root {
  --color-accent: #e3ae14; /* Yellow */
  --color-base-lighter: #f2f5fa; /* Light Blue */
  --color-base-light: #dae1f2;
  --color-base: #608ad8; /* Highlight Blue */
  --color-base-dark: #19284d;
  --color-base-darker: #161f36; /* Dark Blue */
}
