@import url("colors.css");

:root {
  background: var(--color-base-dark);

  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.1rem;
}

body {
  max-width: 800pt;
  min-height: 100vh;
  margin: 0 auto;

  padding: 1rem 16pt;
  background: var(--color-base-darker);

  color: var(--color-base-lighter);
}

a {
  font-weight: bold;
  text-decoration: none;
  color: var(--color-base);
}

.highlight > pre {
  padding: 1.5rem 10px;
  overflow-x: scroll;
}
