<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <head>
      <meta name="viewport" content="width=device-width initial-scale=1">
      <meta name="description" content="{{ .Summary }}">
      <link rel="stylesheet" type="text/css" href="{{ relURL `css/root.css` }}" />
      <title>{{ .Title }} - {{ .Site.Title }}</title>
    </head>
  <body>
    <style>
hr {
  margin: 2rem 0;
  border-color: var(--color-accent);
}
    </style>
    {{ partial "header" . }}
    <div class="allPosts">
      <header class="title">All posts</header>
      {{ range .Pages }}
         {{ partial "summary" . }}
      {{ end }}
    </div>
    {{ partial "footer" . }}
    </body>
</html>
