<div class="connect block">
  <div class="heading">
    <span>Connect</span>
  </div>
  <div class="content">
    <div>
    dev <span style="color: var(--accent-color)">(at)</span> diego lavalle <span style="color: var(--accent-color)">(dotcom)</span>
    </div>
    <div class="social">
      <a href="https://twitter.com/diegolavalledev">Twitter</a>
      <span> ◆ </span>
      <a href="https://angel.co/u/diegolavalle">AngelList</a>
      <span> ◆ </span>
      <a href="https://www.linkedin.com/in/diegolavalle">LinkedIn</a>
    </div>
  </div>
</div>
<footer>Copyright © ∞ Diego Lavalle</footer>
