<style>
.header > a {
  color: inherit;
  font-weight: inherit;
}

.headerContent {
  display: flex;
  align-items: center;
}

.headerLogo {
  width: 90px;
  height: 90px;
  margin-right: 15pt;
}


.headerTitle {
  font-size: 1.35rem;
  font-weight: bold;
  line-height: 2rem;
  letter-spacing: 0.125rem;
}

.headerSubtitle {
  font-size: 1.1rem;
  font-style: italic;
  letter-spacing: 0.025rem;
}
</style>

<div class="header">
  <a href="/" title="{{ .Site.Title }}">
    <div class="headerContent">
      <img class="headerLogo" src="{{ relURL `images/logo.png` }}" />
      <div>
        <div class="headerTitle">{{ .Site.Title }}</div>
        <div class="headerSubtitle">{{ .Site.Params.Subtitle }}</div>
      </div>
    </div>
  </a>
</div>
