{{ if .Params.Example }}
{{ with .GetPage .Params.Example }}
  <div class="postExample">
    <div style="text-align: right;">
      <em>FEATURED EXAMPLE</em>
    </div>
    <div style="text-align: center;">
      <a href="{{ .RelPermalink }}">
        <div>
          {{ with .Page.Resources.GetMatch "icon" }}
          <img src="{{.RelPermalink}}" />
          {{ end }}
        </div>
        <div>{{ .Title }}<div>
      </a>
      <div>{{ .Params.Subtitle }}<div>
    </div>
  </div>
{{ end }}
{{ end }}
