<style>
.postSummary {
  margin: 2rem 0px;
}

.postCoverFrame {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.postCoverFrameInner {
  min-width: 50%;
  max-width: 200pt;
  position: relative;
}

.postTags {
  position: absolute;
  right: 0;
  top: 0;
  background: var(--color-accent);
  color: var(--color-base-darker);
  padding: 0.25rem 15pt;
  font-style: italic;
}

.postCoverImage {
  width: 100%;
}

.postTitle {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 2rem;
  letter-spacing: 0.15rem;
}

.postTitle > a {
  color: var(--color-base-light);
}

.postSubtitle {
  font-size: 1.15rem;
  font-style: italic;
    font-weight: normal;

  line-height: 1.75rem;
  letter-spacing: 0.15rem;
}

.postSubtitle > a {
  color: var(--color-base-light);
}

.postAuthorDate {
  text-align: right;
  font-size: 0.8rem;
}

.postReadMore {
  text-align: right;
}

.postReadMore a {
  color: var(--color-accent);
}

</style>

<div class="postSummary">

  {{ if .Resources.GetMatch "cover" }}
  <div class="postCoverFrame">
    <div class="postCoverFrameInner">
      <div class="postTags">
          {{ range (.GetTerms "tags") }}
              <span>{{ .LinkTitle }}</span>
         {{ end }}
      </div>

      {{ with .Resources.GetMatch "cover" }}
      <img class="postCoverImage" src="{{.RelPermalink}}" />
      {{ end }}
    </div>
  </div>
  {{ end }}

  <div class="postTitle">
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </div>

  <div class="postSubtitle">
    <a href="{{ .RelPermalink }}">{{ .Params.Subtitle }}</a>
  </div>

  <div class="postAuthorDate">
    <span>@{{ .Params.Twitter }}</a> <span>{{ .Date.Format "Jan 2, 2006" }}</span>
  </div>

  <div>
    {{ .Summary }}
  </div>
  {{ if .Truncated }}
  <div class="postReadMore">
    <a href="{{ .RelPermalink }}">Read more</a>
  </div>
  {{ end }}

  <hr />
</div>
